models/pointnet2_ops_lib/*.egg-info
models/pointnet2_ops_lib/build
models/pointnet2_ops_lib/dist
loss_functions/Chamfer3D/*.egg-info
loss_functions/Chamfer3D/build
loss_functions/Chamfer3D/dist
loss_functions/emd/*.egg-info
loss_functions/emd/build
loss_functions/emd/dist
